
/* hover icon for HomeView*/
.hover-shadow {
    transition: box-shadow 0.3s ease-in-out;
}
.hover-shadow:hover{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 1.25rem 0.3rem rgba(249, 0, 0, 0.849);
}

/* TodoList */

.bg-todo {
    background-color: rgb(255, 193, 131);
}

.card-todo {
    border: 1rem;
    border-radius: 2rem;
    background-color: whitesmoke;
}

.scrollbar{
    overflow-x: hidden;
    overflow-y: auto;     
    max-height: 25rem;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.scrollbar .row{
    background-color:  rgb(255, 222, 190);
    border-radius: 1rem;
}
.pen{
    color: blue;
}
.trash{
    color: red;
}

.input-todo {
    justify-items: center;
}

.input-gr{
    display: flex;
    align-items: center;
    border: px solid #ffffff;
    border-radius: 10rem;
    overflow: hidden;
}
.input-gr input {
    background-color:  rgb(255, 222, 190);
    flex: 1;
    border: none;
    padding: 18px;
    outline: none;
}

.input-gr select{
    background-color:rgb(255, 141, 26);
    height: 3.75rem;
    color: white;
    border: none;
}
.input-gr select:hover{
    border: none;
}

.input-gr button {
    background-color:rgb(255, 141, 26);
    color: white;
    border: none;
    padding: 18px 30px;
    cursor: pointer;
    
}
.input-gr button:hover {
    background-color: #ffffff;
    color:rgb(255, 141, 26)  ;
}


/* Weather */
#bg-weather{
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.5)), url('../image/weather/bg-cold.jpg');
    background-size: cover;
    background-position: bottom;
    font-family: 'montserrat', sans-serif;
    align-content: center;
    justify-items: center;
    transition: 0.4s;
}

#bg-weather.warm{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.5)), url('../image/weather/bg-warm.jpg');
}

.search-box{
    width: 20rem;
}

.search-box .search-bar{
    
    display: block;
    width: 50%;
    padding: 0.8rem;

    font-size: 20px;
    color: #646464;

    appearance: none;
    outline: none;
    background: none;
    border: none;

    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 16px 0px 16px;
    transition: 0.4s;
}

.search-box .search-bar:focus{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
    border-radius: 16px 0px 16px 0px;
}


.weather-wrap{
 color: #fff;
 justify-content: center;
 text-align: center;
}

.location-box .location{
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 1px 3px rgba(0,0,0,0.25);
}

.location-box .date{
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
}

.weather-box .temp{
    display: inline-block;
    font-size: 6rem;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0,0,0,0.25);

    padding: 2rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem ;
    margin: 1.5rem 0;

    box-shadow: 3px 6px rgba(0,0,0,0.25);
}

.weather-box .weather{
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 3px 6px rgba(0,0,0,0.25);
}

/* Calculator */
.home{
    top: 16%;
    position: absolute;
    left: 20%;
}

.calculator{
    background-color: rgb(20, 51, 68);
    width: 35rem;
    padding: 2rem;
    margin: auto auto;
    color: white;
}

.screen{
    background-color: rgb(40, 103, 138);
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 600;
}

.screen-input {
    text-align: end;
    color: white;
    background: none;
    border: 0;
}
.screen-input::placeholder {
    color: white; /* Thay đổi màu chữ */
    opacity: 1; /* Đảm bảo không bị mờ */
}
.screen-input:focus{
    border: 0;
    outline: 0;
}

.calculator .lead{
    font-weight: 500;
    border-radius: 0.5rem;
}

.bg-lead{
    background-color: rgb(40, 103, 138);
}

.bg-custom{
    background-color: rgb(161, 33, 33);
}

.lead:hover{
    cursor: pointer;
    background-color: rgb(252, 190, 114);
}
