
/* hover icon for HomeView*/
.hover-shadow {
    transition: box-shadow 0.3s ease-in-out;
}
.hover-shadow:hover{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 1.25rem 0.3rem rgba(249, 0, 0, 0.849);
}

/* TodoList */
